**/.cache/

basic/user/build
basic/user/lib/syscall_ids.h
basic/user/riscv64

*.o
sdcard/*
sdcard/riscv/*
sdcard/loongarch/*

iozone/fileop
iozone/iozone
iozone/pit_server

libc-bench/libc-bench
libc-test/disk/
libc-test/run-dynamic.sh
libc-test/run-static.sh

lmbench/bin/
lmbench/src/bk.ver
lua/src/liblua.a
lua/src/lua
lua/src/luac
time-test/time-test
netperf/doc/netperf.info
time-test/time-test
copy-file-range-test/copy-file-range-test-*
interrupts-test/interrupts-test-*

k210/disk.img*
k210/img.kfpkg
*.img.gz

lmbench_src/libtirpc-1.3.6/
rt-tests-2.7/numactl-2.0.14/
rt-tests-2.7/__pycache__